
@import url('./reset.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #808080;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  padding: 36px;
  background-color: #FFFFFF;
}
.search-form {
  text-align: center;
  margin-bottom: 32px;
}
input {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  max-height: 40px;
  flex-shrink: 0;
  letter-spacing: 0.64px; 
  margin-right: 8px; 
}
input:hover {
  border: 1px solid #000000;
}

input:focus {
  border: 1px solid #4E75FF;
}
button {
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: #4E75FF;
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.64px;
  width: 90px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  opacity: 0.8;
  background-color: #6C8CFF;
  border: 1px solid #6C8CFF;
}
.btn {
  width: 125px;
  max-height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn.is-hidden {
  display: none;
}
.spinner.is-hidden {
  display: none;
}
.loader {
 
  text-align: center; 
  color: #2E2F42;;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
  gap: 24px;
}

.gallery img {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

#load-more {
  background-color: #4E75FF;
  border: #4E75FF;
}

.is-loading {
  display: inline-block;
}